@page "/about"

<PageTitle>Tentang Aplikasi</PageTitle>

<div style="display: flex; margin-top: 10rem;">
    <div style="margin-top: 25px; margin-right: 30px;">
        <MudImage Src="/img/logo.png" Alt="Logo Padi Scanner" Elevation="0" />
    </div>
    <div>
        <MudText Typo="Typo.h1"> Padi Scanner</MudText>
        <MudText Typo="Typo.subtitle1">Aplikasi prediksi penyakit padi berbasis deep learning dan geospasial.</MudText>

        <MudList Clickable="false" Class="mt-5">
            <MudListItem Icon="@Icons.Material.Outlined.People" Text="Fahmi Noor Fiqri" />
            <MudListItem Icon="@Icons.Material.Outlined.People" Text="Hanif" />
            <MudListItem Icon="@Icons.Material.Outlined.People" Text="Abimanyu" />
        </MudList>
        
        <MudDivider Class="mt-5 mb-1" />
        <MudText Typo="Typo.h6">Credits</MudText>
        <MudText>
            <MudLink Href="https://icons8.com/icon/XSfJDRz0gGqq/rice">Icons8</MudLink> (logo aplikasi)<br />
            <MudLink Href="https://www.tensorflow.org/">TensorFlow</MudLink><br />
            <MudLink Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</MudLink><br />
            <MudLink Href="https://mudblazor.com/">MudBlazor</MudLink><br />
            <MudLink Href="https://learn.microsoft.com/en-us/ef/">Entity Framework Core</MudLink><br />
        </MudText>
    </div>
</div>
