@page "/"

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navigationManager

<PageTitle>Padi Scanner</PageTitle>

<div style="display: flex; margin-top: 10rem;">
    <div style="margin-top: 25px; margin-right: 30px;">
        <MudImage Src="/img/logo.png" Alt="Logo Padi Scanner" Elevation="0" />
    </div>
    <div>
        <MudText Typo="Typo.h1"> Padi Scanner</MudText>
        <MudText Typo="Typo.subtitle1">Aplikasi prediksi penyakit padi berbasis deep learning dan geospasial.</MudText>

        <MudButton Variant="Variant.Outlined" Color="Color.Primary" StartIcon="@Icons.Filled.Login" OnClick="GotoLogin">Login</MudButton>
    </div>
</div>

@code {
    private void GotoLogin()
    {
        navigationManager.NavigateTo("auth/login");
    }

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthProvider.GetAuthenticationStateAsync();
        if (auth!.User?.Identity?.IsAuthenticated == true)
        {
            navigationManager.NavigateTo("dashboard");
        }
    }
}
